<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @ua.country %>
</p>

<p>
  <b>Prime:</b>
  <%= @ua.prime %>
</p>

<p>
  <b>Designation:</b>
  <%= @ua.designation %>
</p>

<p>
  <b>Development:</b>
  <%= @ua.development %>
</p>

<p>
  <b>Production:</b>
  <%= @ua.production %>
</p>

<p>
  <b>Operation:</b>
  <%= @ua.operation %>
</p>

<p>
  <b>Propulsion:</b>
  <%= @ua.propulsion %>
</p>

<p>
  <b>Gross wt kg:</b>
  <%= @ua.gross_wt_kg %>
</p>

<p>
  <b>Payload weight kg:</b>
  <%= @ua.payload_weight_kg %>
</p>

<p>
  <b>Wing span m:</b>
  <%= @ua.wing_span_m %>
</p>

<p>
  <b>Endurance hr:</b>
  <%= @ua.endurance_hr %>
</p>

<p>
  <b>Range km:</b>
  <%= @ua.range_km %>
</p>

<p>
  <b>Ceiling m:</b>
  <%= @ua.ceiling_m %>
</p>

<p>
  <b>Mission:</b>
  <%= @ua.mission %>
</p>


<%= link_to 'Edit', edit_ua_path(@ua) %> |
<%= link_to 'Back', uas_path %>
