%h1 Analytical Comparison of Options
- content_for(:title, "Comparison")

-# content_for :javascript_includes do
  =# javascript_include_tag "chart.js"

%h3 Endurance, Altitude and Payload Size (the size of the bubble)

%p Axis will come later, general trend is as expected.

%div#chart

%h3 Endurance vs Altitude

%p
  This chart shows all database entries that have a payload, designation, altitude and endurance. (~590 entries).
  Mouseover to see these entries. You can also zoom in through mouse dragging.

= high_chart("endurance_and_altitude_id", @h) do |c|
  = "options.tooltip.formatter = function() { return this.point.designation;}".html_safe

%h3 Endurance vs Altitude by Propulsion Type

%p
  Same as above, but grouped by propulsion type. I am interested in which propulsion types enable access to different
  regions in this space.
  %b Click on a point to see details.

%div#interactive_chart
  %div#left_side
    = high_chart("by_propulsion_type_id", @h_propulsion) do |c|
      = "options.tooltip.formatter = function() { return this.point.designation;}".html_safe
      :plain
         options.plotOptions = {
             series: {
                cursor: 'pointer',
                point: {
                   events: {
                      click: function() {
                         $("#description").html(this.description);
                      }
                   }
                },
             }
          }
  %div#right_side
    %div#description
:css
  div#description {
    margin:0px;
  }
  div#interactive_chart {
   width:1101px;
  }
  div#right_side {
    width:400px;
    height:400px;
    float: right;
  }
  div#left_side {
    width:700px;
    height:400px;
    float: left;
  }
  /*
  path {
    stroke-width: 2px;
    stroke: rgb(200,0,0);
  }
  */

  .point {
   fill: rgb(51, 156, 255);
   stroke-width:2px;
  }

  #description li {
    list-style:none;
    width:400px;
  }

  #description li:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }

  span.links {
    float:left;
    width:130px;
    font-weight: bold;
    font-size: 11px;
  }

  ul.description {
    margin:0px;
  }

  span.rechts {
    float:right;
    width:250px;
    font-size:11px;
  }

%div{style: "clear:both;"}

%script{:language => "JavaScript"}
  = raw render :partial => "chart.js"

%p
  Next plot I want to do is a 'seeking alpha' for these systems, which ones are more efficient? They can do higher
  and farther with the same potential energy. Not sure if this is a fair metric, but I'm interested.



