!!! 5
%html
  %head
    %title extreme
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = yield :javascript_includes
    = csrf_meta_tag
  %body
    %div#wrapper
      %div#header
        %h1#site_title Extreme Endurance
        %ul#tabs.tabbed_navigation
          %li
            %a(href="/") Home
          %li
            %a(href="/analysis/comparison") Comparison 
      %div#title_bar
        %span.breadcrumb
          %a(href="/admin") Admin
          %span.breadcrumb_sep /
        %h2#page_title
          = yield :title
      %div.flashes
        - flash.each do |name, msg|
          = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
      %div#active_admin_content.with_sidebar
        %div#main_content_wrapper
          %div#main_content
            = yield
      %div#footer