!!! 5
%html
  %head
    %title extreme
    = stylesheet_link_tag :all
    = javascript_include_tag :defaults, 'ds.js', 'd3.geo.min.js', 'd3.chart.min.js'
    = csrf_meta_tag
  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)
    = yield
